{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>вход в аккаунт</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <hr>
    <ul>
        <li>
            User {{ user }}
        </li>
    </ul>
   {{ error }}
    <h1>Вход в аккаунт</h1>
    <form action="{% url 'login' %}" method="POST" class = "form-auth">
        {{ form }}]
        {% csrf_token %}
        <button type="submit" class="btn btn-success">вход</button>

    </form>
</body>
</html>
